@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 13 15 26;
  --foreground: 255 255 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

html {
  scroll-behavior: smooth;
}